<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
{{.}}   {{/*print the value passed*/}}
{{. | fdbl}}  {{/*double the value (addition) */}}
{{. | fdbl | fsq}}  {{/*pass it to the square of the value*/}}
{{. fdbl | fsq | fsqrt}}   {{/* sqaureroot of "fsq" would be the result*/}}


{{/*
gvhhjvbjbkjnnknlkl*/}}
</body>
</html>