<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<h1>Welcome to the bar . what can i get you to drink?</h1>

{{if .First}}
    USER NAME {{.UserName}}<br>
    FIRST {{.First}} <br>
    Last {{.Last}} <br>
{{end}}
</body>
</html>