<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Pet Dog</title>
</head>
<body>
   <strong>Dog Pet</strong>

<lu>
    <l>Owner Name:</l> <br><br>
    <l>Kind/Specie:</l><br><br>
    <l>Age:</l><br><br>
</lu>

</body>
</html>
