<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
{{/*                     bar func would be sent here using this action path when submitted*/}}
<form method="post" action="/bar">
    <input type="text" name="fname">
    <input type="submit">

</form>

</body>
</html>