<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Index Page</title>
</head>
<body>
<strong>Index Page</strong>

<lu>
    <l>
        details, index
    </l>
    <li>Days</li>
    <li>Organization</li>
</lu>

</body>
</html>
