<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>

{{$x :=.Name}}  {{ $y :=.Motto}}
<ul>
  {{$x}} - {{$y}}

</ul>


</body>
</html>