<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Apply</title>
</head>
<body>
<strong>Apply Page</strong>
<a href="/">index</a><br>
<a href="/about">about</a><br>
<a href="/contact">contact</a><br>
<a href="/apply">apply</a><br>
<form method="post" action="/apply">
    <input type="submit" value="apply">


</form>

</body>
</html>