<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<strong>My Personal details</strong>

<lu>
    <l>Name:</l>
    <l>Address:</l>
    <l>Age:</l>


</lu>

</body>
</html>
