<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
{{range.}}

          {{.Names}}<br>
         {{range .Addresses}}
              {{.Name}} -{{.City}}-{{.Zip}}
       {{end}}

{{end}}

</body>
</html>