<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
</head>
<body>
<!---Range Over slice of Sages and-->

<!---inside each sage there is struct that contains field names "Name", "Motto"----->
{{ range.Wisdom}}
    <li>
          {{.Name}} - {{.Motto}}
    </li>
{{end}}
{{range .Transport}}
<li>
    {{.Manufacturer}} - {{.Model}}-{{.Doors}}
</li>
{{end}}

</body>
</html>