<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Apply</title>
      <style>
          /*body {*/
          /*    background-color: blueviolet;*/
          /*}*/
      </style>
</head>
<body>
<strong>Apply Page</strong>
<a href="/">index</a><br>
<a href="/about">about</a><br>
<a href="/contact">contact</a><br>
<a href="/apply">apply</a><br>

<p>
    The names of all the students to be graduated by next  year December using their evaluation score.

    <br><br>


</p>
<form method="post" action="/apply">
    <input type="submit" value="apply">
   First Name: <input type="text" aria-label="Name"   placeholder="enter name here" autofocus> <br><br>
   Email:  <input type="text"   placeholder="enter email here" autofocus> <br><br>
   Address: <input type="text" aria-label="" value="Address" autofocus> <br><br>
     <br><br>
    <input type="button" name="submit" value="Enter" >
</form>

</body>
</html>